numpy==1.19.5
pandas==1.1.5
scikit-learn==0.23.2
nltk==3.5
gensim==3.8.3
wget==3.2
fasttext==0.9.2
tensorflow==1.14.0
torch==1.9.0
pytorch_pretrained_bert==0.6.2
pytorch-nlp==0.5.0  
tqdm==4.41.1
matplotlib==3.2.2
beautifulsoup4==4.6.3
ktrain==0.26.3 
lime==0.2.0.1
seaborn==0.11.1
shap==0.39.0
fastai==1.0.60
spacy==2.2.4