numpy==1.19.5
pandas==1.1.5
beautifulsoup4==4.6.3
pytesseract==0.3.7
spacy==2.2.4
scikit-learn==0.21.3
nlpaug==0.0.14
snorkel==0.9.6
treedlib==0.1.3
numbskull==0.1.1
tensorflow==1.15
tensorboard==1.15
nltk==3.2.5
matplotlib==3.2.2
wget==3.2
utils==1.0.1
textblob==0.15.3
requests==2.23.0